#position-tracking-title {
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 10;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 40px;
}

ul#position-tracking-editors-list {
    margin: 0;
    margin: 40px 0 0;
    width: 100%;
}

ul#position-tracking-editors-list > li{
    margin: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    height: 30px;
}

ul#position-tracking-editors-list > li.group{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

li.editor > .save-track {
    display: block;
    font-size: 18px;
    margin-left: 20px;
}

.editor-label {
    display: block;
    font-size: 18px;
    overflow-x: auto;
    margin-right: 110px;
    margin-left: 20px;
}

.controls {
    display: block;
    position: absolute;
    top: 13px;
    right: 0;
    margin-right: 5px;
    line-height: 0;
}

.controls > .control-button {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-left: 5px;
    background-size: cover;
}

.controls > .control-button:active {
    opacity: 0.5;
}

.controls > .control-button.record.on {
    background-image: url(images/location-on-icon.svg);
}

.controls > .control-button.record.off {
    background-image: url(images/location-off-icon.svg);
}

.controls > .control-button.pause {
    background-image: url(images/pause-icon.svg);
}

.controls > .control-button.stop {
    background-image: url(images/stop-icon.svg);
}

.controls > .control-button.save {
    background-image: url(images/add-icon.svg);
}

.controls > .control-button.discard {
    background-image: url(images/discard-icon.svg);
}

.controls > .control-button.back {
    background-image: url(images/arrow-left-icon.svg);
}

.controls > .control-button.more {
    background-image: url(images/more-icon.svg);
}

.controls > .control-button.rotate {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    transition-duration:0.8s;
}


input.record-name.error {
    border-color: red;
}