#position-tracking-title {
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

ul#position-tracking-editors-list {
    margin: 0;
    width: 100%;
}

ul#position-tracking-editors-list > li{
    margin: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

ul#position-tracking-editors-list > li.group{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.editor-label {
    display: block;
    font-size: 18px;
    overflow-x: auto;
    margin-right: 110px;
    margin-left: 20px;
}

.controls {
    display: block;
    float: right;
    margin-top: -23px;
}

.controls > .control-button {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-left: 5px;
    background-size: cover;
}

.controls > .control-button:active {
    opacity: 0.5;
}

.controls > .control-button.record.on {
    background-image: url(images/record-red-icon.svg);
}

.controls > .control-button.record.off {
    background-image: url(images/record-black-icon.svg);
}

.controls > .control-button.pause {
    background-image: url(images/pause-icon.svg);
}

.controls > .control-button.stop {
    background-image: url(images/stop-icon.svg);
}



